<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Dashboard</a>
        <i class="fa fa-circle"></i>
        <a href="#/modules/list">Module List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active">Create Module</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Create Module</span>
                    <span class="caption-helper hide"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-7">
            <form action="#" id="form-username" class="form-horizontal form-bordered ng-pristine ng-valid">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-5">Module Name</label>
                            <div class="col-md-7">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="name" ng-model="newModule.name">
                                </div>
                                <div class="help-block"> General Name of the Module </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Module Subtitle</label>
                            <div class="col-md-7">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="subtitle" ng-model="newModule.subtitle" > </div>
                                <div class="help-block"> More specific Module Focus </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-md-5">Module Color</label>
                            
                                <div class="col-md-5">
                                                                <select class="form-control input-lg" onchange="colorselected(this);" name="color" ng-model="newModule.color">
                                                                    <option value="default" class="bg-default bg-font-default">default</option>
                                                                    <option value="dark" class="bg-dark bg-font-dark">dark</option>
                                                                    <option value="blue" class="bg-blue bg-font-blue">blue</option>
                                                                    <option value="blue-madison" class="bg-blue-madison bg-font-blue-madison">blue-madison</option>
                                                                    <option value="blue-chambray" class="bg-blue-chambray bg-font-blue-chambray">blue-chambray</option>
                                                                    <option value="blue-ebonyclay" class="bg-blue-ebonyclay bg-font-blue-ebonyclay">blue-ebonycaly</option>
                                                                    <option value="blue-hoki" class="bg-blue-hoki bg-font-blue-hoki">blue-hoki</option>
                                                                    <option value="blue-steel" class="bg-blue-steel bg-font-blue-steel">blue-steel</option>
                                                                    <option value="blue-soft" class="bg-blue-soft bg-font-blue-soft">blue-soft</option>
                                                                    <option value="blue-dark" class="bg-blue-dark bg-font-blue-dark">blue-dark</option>
                                                                    <option value="blue-sharp" class="bg-blue-sharp bg-font-blue-sharp">blue-sharp</option>
                                                                    <option value="blue-oleo" class="bg-blue-oleo bg-font-blue-oleo">blue-oleo</option>
                                                                    <option value="green" class="bg-green bg-font-green">green</option>
                                                                    <option value="green-meadow" class="bg-green-meadow bg-font-green-meadow">green-meadow</option>
                                                                    <option value="green-seagreen" class="bg-green-seagreen bg-font-green-seagreen">green-seagreen</option>
                                                                    <option value="green-turquoise" class="bg-green-turquoise bg-font-green-turquoise">green-turquoise</option>
                                                                    <option value="green-haze" class="bg-green-haze bg-font-green-haze">green-haze</option>
                                                                    <option value="green-jungle" class="bg-green-jungle bg-font-green-jungle">green-jungle</option>
                                                                    <option value="green-soft" class="bg-green-soft bg-font-green-soft">green-soft</option>
                                                                    <option value="green-dark" class="bg-green-dark bg-font-green-dark">green-dark</option>
                                                                    <option value="green-sharp" class="bg-green-sharp bg-font-green-sharp">green-sharp</option>
                                                                    <option value="green-steel" class="bg-green-steel bg-font-green-steel">green-steel</option>
                                                                    <option value="grey" class="bg-grey bg-font-grey">grey</option>
                                                                    <option value="grey-cararra" class="bg-grey-cararra bg-font-grey-cararra">grey-cararra</option>
                                                                    <option value="grey-gallery" class="bg-grey-gallery bg-font-grey-gallery">grey-gallery</option>
                                                                    <option value="grey-cascade" class="bg-grey-cascade bg-font-grey-cascade">grey-cascade</option>
                                                                    <option value="grey-silver" class="bg-grey-silver bg-font-grey-silver">grey-silver</option>
                                                                    <option value="grey-salsa" class="bg-grey-salsa bg-font-grey-salsa">grey-salsa</option>
                                                                    <option value="grey-salt" class="bg-grey-salt bg-font-grey-salt">grey-salt</option>
                                                                    <option value="grey-mint" class="bg-grey-mint bg-font-grey-mint">grey-mint</option>
                                                                    <option value="red" class="bg-red bg-font-red">red</option>
                                                                    <option value="red-pink" class="bg-red-pink bg-font-red-pink">red-pink</option>
                                                                    <option value="red-sunglo" class="bg-red-sunglo bg-font-red-sunglo">red-sunglo</option>
                                                                    <option value="red-intense" class="bg-red-intense bg-font-red-intense">red-intense</option>
                                                                    <option value="red-thunderbird" class="bg-red-thunderbird bg-font-red-thunderbird">red-thunderbird</option>
                                                                    <option value="red-flamingo" class="bg-red-flamingo bg-font-red-flamingo">red-flamingo</option>
                                                                    <option value="red-soft" class="bg-red-soft bg-font-red-soft">red-soft</option>
                                                                    <option value="red-haze" class="bg-red-haze bg-font-red-haze">red-haze</option>
                                                                    <option value="red-mint" class="bg-red-mint bg-font-red-mint">red-mint</option>
                                                                    <option value="yellow" class="bg-yellow bg-font-yellow">yellow</option>
                                                                    <option value="yellow-gold" class="bg-yellow-gold bg-font-yellow-gold">yellow-gold</option>
                                                                    <option value="yellow-casablanca" class="bg-yellow-casablanca bg-font-yellow-casablanca">yellow-casablanca</option>
                                                                    <option value="yellow-crusta" class="bg-yellow-crusta bg-font-yellow-crusta">yellow-crusta</option>
                                                                    <option value="yellow-lemon" class="bg-yellow-lemon bg-font-yellow-lemon">yellow-lemon</option>
                                                                    <option value="yellow-saffron" class="bg-yellow-saffron bg-font-yellow-saffron">yellow-saffron</option>
                                                                    <option value="yellow-soft" class="bg-yellow-soft bg-font-yellow-soft">yellow-soft</option>
                                                                    <option value="yellow-haze" class="bg-yellow-haze bg-font-yellow-haze">yellow-haze</option>
                                                                    <option value="yellow-mint" class="bg-yellow-mint bg-font-yellow-mint">yellow-mint</option>
                                                                    <option value="purple" class="bg-purple bg-font-purple">purple</option>
                                                                    <option value="purple-plum" class="bg-purple-plum bg-font-purple-plum">purple-plum</option>
                                                                    <option value="purple-medium" class="bg-purple-medium bg-font-purple-medium">purple-medium</option>
                                                                    <option value="purple-studio" class="bg-purple-studio bg-font-purple-studio">purple-studio</option>
                                                                    <option value="purple-wisteria" class="bg-purple-wisteria bg-font-purple-wisteria">purple-wisteria</option>
                                                                    <option value="purple-seance" class="bg-purple-seance bg-font-purple-seance">purple-seance</option>
                                                                    <option value="purple-intense" class="bg-purple-intense bg-font-purple-intense">purple-intense</option>
                                                                    <option value="purple-sharp" class="bg-purple-sharp bg-font-purple-sharp">purple-sharp</option>
                                                                    <option value="purple-soft" class="bg-purple-soft bg-font-purple-soft">purple-soft</option>







                                                                </select>
                                                                
                                                            </div>
                                                            <div class="col-md-2"><div style="width:50px;height:50px;" id="colored"></div></div>

               </div>

                                        <div class="form-group">
                            <label class="control-label col-md-5">Module Icon</label>
                            
                                <div class="col-md-5">
                                <select class="form-control input-lg" name="color" ng-model="newModule.icon">
                                    <option value="fa fa-industry" class="">Industry</option>
                                    <option value="fa fa-hourglass-start" class="">Hourglass Start</option>
                                    <option value="fa fa-map" class="">Map</option>
                                    <option value="fa fa-coffee" class="">Coffee</option>
                                    <option value="fa fa-cog" class="">Cog</option>
                                    <option value="fa fa-cogs" class="">3 Cogs</option>
                                    <option value="fa fa-comments" class="">Chat Bubbles</option>
                                    <option value="fa fa-cubes" class="">Boxes</option>
                                    <option value="fa fa-desktop" class="">Computer Monitor</option>
                                    <option value="fa fa-diamond" class="">Diamond</option>
                                    <option value="fa fa-envelope" class="">Envelope</option>
                                    <option value="fa fa-feed" class="">Wireless Signal</option>
                                    <option value="fa fa-fire" class="">Fire</option>
                                    <option value="fa fa-group" class="">People</option>
                                    <option value="fa fa-globe" class="">Globe</option>
                                    <option value="fa fa-legal" class="">Gavel</option>
                                    <option value="fa fa-magnet" class="">Magnet</option>
                                    <option value="fa fa-money" class="">Money</option>
                                    <option value="fa fa-microphone" class="">Microphone</option>
                                </select>
                                                                
                                </div>
                                <div class="col-md-2" style="font-size: 30px;"><i ng-class="newModule.icon"></i></div>

</div>
                        
                    </div> 
                </div>
                        
           
                     
                            


    <div class="col-md-4">


            <div class="dashboard-stat module-box default" ng-class="newModule.color">

                <div class="visual">
                    <i ng-class="newModule.icon"></i>
                </div>
                <div class="details">
                    <div class="number"> {{newModule.name}} </div>
                    <div class="desc"> {{newModule.subtitle}} </div>
                </div>

                <a class="more"> Start Module
                    
                </a>

            </div>


    </div>

      <div class="form-group">
         
            <div class="col-md-7">
            
                <div class="help-block"> Steps in a Module are the progression through teaching the desired topic. A step can be one of three Tools: <ol><li>Text</li> <li>Video</li> <li>Quiz</li> </ol></div>
                <a href="#" ng-click="createStep()" role="button" class="btn red" > Create a Step </a>
            </div>
        </div>
</div>
<hr>
<div class="alert alert-warning alert-dismissable" ng-show="allFields">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <strong>Whoops!</strong> Looks like you missed either the Name or the Step Type. </div>
<div class="row" style="padding:25px;" data-ng-repeat="step in steps">
    
                                                
        <div class="form-group" >
            <label class="control-label col-md-1">Step Name: </label>
 
            <div class="col-md-4">
                <div class="input-icon">
                    <input type="text" ng-model="step.name" name="stepName" class="form-control" > 
                </div>
            </div>
            <label class="control-label col-md-1">Step Type:</label>
                <div class="col-md-3">
                   

                                                                <label class="mt-radio mt-radio-outline" style="padding: 0 25px;"> Text
                                                                    <input type="radio" value="text" name="step.type" ng-model="step.type">
                                                                    <span></span>
                                                                </label>
                                                                <label class="mt-radio mt-radio-outline" style="padding: 0 25px;"> Video
                                                                    <input type="radio" value="video" name="step.video" ng-model="step.type">
                                                                    <span></span>
                                                                </label>
                                                                <label class="mt-radio mt-radio-outline" style="padding: 0 25px;"> Quiz
                                                                    <input type="radio" value="quiz" name="step.quiz" ng-model="step.type">
                                                                    <span></span>
                                                                </label>
                                                            
                        </div> 
             
                 <div class="col-md-3"> 
                   
                    <a href="#" ng-click="addStep(step.id)" role="button" class="btn green" > Add Step </a>
                    <a href="#" ng-click="discardStep(step.id)" role="button" class="btn red" > Discard </a>
                    
                 </div> 

            </div> 
        </div>


    <hr>
<div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-bell-o"></i>Saved Steps </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                                  
                                                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>

                                                </div>
                                            </div>
<div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>
                                                                    <i class="fa fa-file"></i> Name </th>
                                                                <th>
                                                                    <i class="fa fa-object-ungroup"></i> Step Type </th>
                                                                <th> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="savedStep in savedSteps">
                                                                <td class="highlight">
                                                                    
                                                                    
                                                                </td>
                                                                <td> {{savedStep.name}} </td>
                                                                <td> {{savedStep.type}} </td>
                                                                <td style="text-align: right;">
                                                                    <a class="btn btn-outline btn-circle btn-sm purple" ng-click="editStep(savedStep.id)" data-toggle="modal" href="#editstepmodal">
                                                                        <i class="fa fa-edit"></i> Edit Step Content</a> 
                                                                    <a class="btn btn-outline btn-circle btn-sm red" ng-click="deleteStep(savedStep.id)">
                                                                        <i class="fa fa-trash-o"></i> Delete Step</a>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <pre>Module JSON:
{{newModule | json}}</pre>
<pre>Steps JSON:
{{savedSteps | json}}</pre>

                                            </div>
</div>
                        
</div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn purple">
                                    <i class="fa fa-check"></i> Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>



<div id="editstepmodal" class="modal fade bs-modal-lg in" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Step: {{editingStep.name}}</h4>
            </div>
            <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">

                            <!-- THE TEXT PORTION -->
                            <div id="iftext" ng-show="editingStep.type == 'text'">                  
                                <h3>Enter Text of Step Below</h3>
                                <textarea class="form-control" rows="8" ng-model="editingStep.textInput"></textarea>
                            </div>
                            <p>{{editingStep.textInput}}</p>



                            <!-- THE VIDEO PORTION -->
                         <div id="ifvideo" ng-show="editingStep.type == 'video'">                  
                                <h3>Enter Video Information Below</h3>
                                    <div class="form-group" >
                        <label class="control-label col-md-1" >Video URL:</label>
                <div class="row">
                        <div class="col-md-6">
                            <div class="input-icon">
                                <input type="text" name="videoURL" class="form-control" ng-model="editingStep.videoURL"> 
                            </div>
                        </div>
                        <label class="control-label col-md-1" >Host:</label>
                            <div class="col-md-4">
                               

                                    <label class="mt-radio mt-radio-outline" style="padding: 0 25px;"> Youtube
                                        <input type="radio" value="youtube" name="youtube" ng-model="editingStep.host">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline" style="padding: 0 25px;" > Vimeo
                                        <input type="radio" value="vimeo" name="vimeo" ng-model="editingStep.host">
                                        <span></span>
                                    </label>
                                                            
                                </div> 
                            </div>
                        </div>
                        </div>

                        <!-- THE Quiz PORTION -->
                        <div id="iftext" ng-show="editingStep.type == 'quiz'">                  
                                <h3>Build Your Quiz</h3>
                               <a href="#" ng-click="addQuestion(editingStep.id)" role="button" class="btn red" style="margin-bottom:20px;" > Create Question </a>
                        
                            <div class="row" data-ng-repeat="question in editingStep.quiz">
                            
                                                                        

                                <div class="portlet box purple-soft">
                                            <div class="portlet-title" style="padding-top:10px;">
                                                <div class="col-md-10">
                                  <div class="form-group" >
                                    <label class="control-label col-md-2">Question:</label>
                         
                                    <div class="col-md-10">
                                        <div class="col-md-12">
                                            <div class="input-icon">
                                                <input type="text" ng-model="question.question" name="stepName" class="form-control" > 
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div></div>
                                                <div class="tools">
                                                   Collapse <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>

                                                
    
                                                </div>
                                            </div>
                                            <div class="portlet-body form" style="display: block;">
                                                <div class="col-md-12">
                                                <p style="padding:15px;">Check the box next to the correct answer. <a href="#" ng-click="addAnswer(editingStep.id, question.id)" role="button" class="btn blue pull-right" style="margin-bottom:10px;" >Add Possible Answer</a></p></div>
                                                               
                                                                        <div data-ng-repeat="answer in question.answers" class="col-md-12">
                                                                            <div class="radio">
                                                                   
                                                                                <div class="col-md-2" style="text-align: right;"><input checked type="radio" ng-value="answer.id"  name="correctoption" ng-model="question.correct_answer" ></div>
                                                                                <div class="col-md-8"><input type="text" ng-model="answer.answer" class="form-control" ></div>
                                                                                <div class="col-md-2">
                                                                                <a href="#" ng-click="discardAnswer($index, editingStep.id, question.id, answer.id)" role="button" class="btn red" style="margin-bottom:20px;" >Discard</a></div>
                                                                     
                                                                            </div>
                                                                        </div>

                                            </div>
                                        </div>


                                   
                                 

                                



                                    </div>


                        </div> 



                        
                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <button type="button" class="btn green">Save changes</button>
            </div>
        </div>
    </div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
function colorselected(obj) {
    $( "#colored" ).attr('class', 'bg-'+obj.value);
};


</script>
<!-- BEGIN MAIN JS -->
    