<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Dashboard</a>
        <i class="fa fa-circle"></i>
        <a href="#/modules/list">Module List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active">{{ module.name }}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">{{ module.name }}</span>
                    <span class="caption-helper hide"></span>
                </div>

            </div>
            <div class="portlet-body"> 


{{ module.name }}



              </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->
    